<ion-view title="Este" id="page11">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <h4>I - Cấu tạo phân tử Este</h4>
      <p>- Khi thay thế nhóm OH ở nhóm cacboxyl (-COOH) của axit cacboxylic bằng nhóm OR thì được este.
        <br>
        <br> Este đơn giản nhất có công thức là RCOOR' ( thường là sản phẩm của phản ứng giữa axit và ancol).
        <br>
        <br> Với R, R' là gốc hiđrocacbon no, không no hoặc thơm. R có thể là H, R' phải khác H - Este là dẫn xuất của axit cacboxylic.
        <br> Một số este của axit cacboxylic có công thức cấu tạo như sau:
        <br>
        <br> bla..bla..bla...bla...
      </p>
    </div>
  </ion-content>
</ion-view>