<ion-view title="Hóa học 12" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/XTVE2z5GT2GljVhy5opT_hoahoc.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="esteLipit" id="hAHC12-button35" class="button button-balanced  button-block">Este - Lipit</a>
    <button id="hAHC12-button37" class="button button-balanced  button-block">Cacbohydrat</button>
    <button id="hAHC12-button38" class="button button-balanced  button-block">Amin, Amino axit và Protein</button>
    <button id="hAHC12-button39" class="button button-balanced  button-block">Polime và vật liệu Polime</button>
    <button id="hAHC12-button40" class="button button-balanced  button-block">Đại cương về kim loại</button>
    <button id="hAHC12-button41" class="button button-balanced  button-block">Kim loại kiềm, kim loại kiềm thổ, nhôm</button>
    <button id="hAHC12-button42" class="button button-balanced  button-block">Sắt và một số kim loại quan trọng</button>
    <button id="hAHC12-button36" class="button button-balanced  button-block">Phân biệt một số chất vô cơ</button>
  </ion-content>
</ion-view>