<ion-view title="Kết quả" id="page14" style="background-color:#F8F8D2;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 58px;"></div>
    <div id="kTQu-markdown72" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:27px;">Số câu đúng</p>
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <div id="kTQu-markdown71" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:80px;">
        <strong>0/50</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 61px;"></div>
    <button id="kTQu-button57" class="button button-balanced button-large">Xem lại</button>
    <button id="kTQu-button58" class="button button-positive button-large button-clear">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </button>
    <button id="kTQu-button59" class="button button-balanced button-large">Home</button>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div id="kTQu-markdown73" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:25px;">
        <strong>Điểm cao nhất</strong>
      </p>

      <p style="color:#000000;font-size:25px;">Kanna 50/50</p>
    </div>
  </ion-content>
</ion-view>