<ion-view title="My profile" hide-back-button="true" id="page4" class="background">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="myProfile-card21">
      <div class=" item item-image">
        <img src="img/2BB3nGK7RZOt6pigtnJx_Kanna.Kamui.600.2070108.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="myProfile-list-item-container3">
        <div id="myProfile-markdown37" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:35px;">Kanna</p>
        </div>
      </div>
    </div>
    <div class="list card" id="myProfile-card23">
      <div class="item item-body" id="myProfile-list-item-container4">
        <div id="myProfile-markdown39" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            <img alt="edit" src="pen edit">
            <a href="">Thay đổi thông tin cá nhân</a>
            <br>
            <img alt="pass" src="edit pass">
            <a href="">Đổi mật khẩu</a>
            <br>
            <img alt="avatar" src="edit avatar">
            <a href="">Thay đổi avatar</a>
            <br>
            <img alt="Logout" src="logout">
            <a href="">Đăng xuất</a>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="myProfile-card24">
      <ion-item class="item-icon-left" id="myProfile-list-item8">
        <i class="icon ion-android-person"></i>Thông tin cá nhân</ion-item>
      <div id="myProfile-container9">
        <div id="myProfile-markdown43" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            <strong>Họ và tên</strong> :
            <br>
            <strong>Tên đăng nhập</strong> :
            <br>
            <strong>Email</strong> :
            <br>
            <strong>Số điện thoại</strong> :
            <br>
            <strong>Ngày sinh</strong> :
            <br>
            <strong>Giới tính</strong> :
            <br>
            <strong>Ngày tham gia</strong> : </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>