<ion-view title="ProExamA" hide-back-button="true" id="page1" style="background-color:#F8F8C0;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="proExamA-card210">
      <div id="proExamA-markdown47" class="show-list-numbers-and-dots heading1">
        <blockquote>
          <p style="color:#000000;">
            <strong>Chọn môn học</strong>
          </p>
        </blockquote>
      </div>
      <div id="proExamA-container19">
        <button id="proExamA-button10" style="border-radius:1000px 1000px 1000px 1000px;" class="button button-balanced  button-block">Toán học</button>
        <a ui-sref="chemistry" id="proExamA-button11" style="border-radius:1000px 1000px 1000px 1000px;" class="button button-balanced  button-block">Hóa học</a>
        <button id="proExamA-button12" style="border-radius:1000px 1000px 1000px 1000px;" class="button button-balanced  button-block">Vật lý</button>
      </div>
    </div>
  </ion-content>
</ion-view>