<ion-view title="Sign up" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signUp-form2" class="list">
      <ion-list id="signUp-list3">
        <label class="item item-input item-stacked-label" id="signUp-input3">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Noname@gmail.com">
        </label>
        <label class="item item-input item-stacked-label" id="signUp-input4">
          <span class="input-label">Tên đăng nhập</span>
          <input type="text" placeholder="No Name">
        </label>
        <label class="item item-input item-stacked-label" id="signUp-input5">
          <span class="input-label">Mật khẩu</span>
          <input type="password" placeholder="***************">
        </label>
        <label class="item item-input item-stacked-label" id="signUp-input6">
          <span class="input-label">Nhập lại mật khẩu</span>
          <input type="password" placeholder="***************">
        </label>
      </ion-list>
      <a ui-sref="login" id="signUp-button3" class="button button-stable  button-block">Đăng ký</a>
    </form>
  </ion-content>
</ion-view>