<ion-view title="Đề thi thử số 1" id="page13" style="background-color:#F8F8D2;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="ThiThS1-button-bar1" class="button-bar"></div>
    <p>
      Đếm ngược thời gian (chưa biết làm :3)
    </p>
    <p>
      Câu số ?
    </p>
    <div class="list card" id="ThiThS1-card213">
      <p>
        Câu hỏi
      </p>
    </div>
    <div id="ThiThS1-container10">
      <form id="ThiThS1-form5" class="list">
        <ion-radio id="ThiThS1-radio5">A. </ion-radio>
        <ion-radio id="ThiThS1-radio6">B.</ion-radio>
        <ion-radio id="ThiThS1-radio7">C.</ion-radio>
        <ion-radio id="ThiThS1-radio8">D.</ion-radio>
      </form>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <a ui-sref="kTQu" id="ThiThS1-button56" class="button button-balanced  button-block">Nộp bài</a>
    <p>
      Em còn muốn thêm show tất cả các câu...câu nào làm rồi thì tích vô....
    </p>
  </ion-content>
</ion-view>