<ion-view title="Chemistry" hide-back-button="true" id="page7" style="background-color:#F8F8D2;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/Y33dvLvJRrizMEq2cyAH_hoahoc.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="thiThHA" id="chemistry-button18" class="button button-balanced  button-block">Thi thử đại học</a>
    <button id="chemistry-button24" class="button button-balanced  button-block">Hóa học lớp 10</button>
    <button id="chemistry-button26" class="button button-balanced  button-block">Hóa học lớp 11</button>
    <a ui-sref="hAHC12" id="chemistry-button25" class="button button-balanced  button-block">Hóa học lớp 12</a>
  </ion-content>
</ion-view>