<ion-view title="Este - Lipit" id="page10" style="background-color:#F8F8D2;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/Ctl7lZufR22NWtWW8X5r_Y33dvLvJRrizMEq2cyAH_hoahoc.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="esteLipit-container16">
      <a ui-sref="este" id="esteLipit-button46" class="button button-balanced  button-block">Este</a>
      <button id="esteLipit-button47" class="button button-balanced  button-block">Lipit</button>
      <button id="esteLipit-button48" class="button button-balanced  button-block">Chất giặt rửa</button>
    </div>
  </ion-content>
</ion-view>