<ion-view title="Login" hide-back-button="true" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input item-stacked-label" id="login-input1">
          <span class="input-label">Tên đăng nhập</span>
          <input type="text" placeholder="Kiritobui">
        </label>
        <label class="item item-input item-stacked-label" id="login-input2">
          <span class="input-label">Mật khẩu</span>
          <input type="password" placeholder="***********">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 25px;"></div>
      <a ui-sref="menu.myProfile" id="login-button1" class="button button-positive  button-block">Đăng nhập</a>
      <a ui-sref="signUp" id="login-button2" class="button button-positive  button-block button-clear">Đăng ký</a>
    </form>
  </ion-content>
</ion-view>