<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#7DDF74;">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">
      <div class="spacer" style="width: 268px; height: 35px;"></div>
      <div class="profile-image">
        <img src="img/I2fHJ1z9SmmHj7tHhBus_16938977_750192615144823_673932681964131005_n.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="menu-heading1" style="color:#000000;font-weight:300;text-align:center;">Kanna</h3>
      <div class="spacer" style="width: 268px; height: 24px;"></div>
      <ion-list id="menu-list1" class="side-menu-item">
        <ion-item class="item-icon-left  side-menu-item" id="menu-list-item1" ui-sref="menu.myProfile" menu-close="">
          <i class="icon ion-ios-person-outline"></i>My profile</ion-item>
        <ion-item class="item-icon-left  side-menu-item" id="menu-list-item2" ui-sref="menu.proExamA" menu-close="">
          <i class="icon ion-ios-home-outline"></i>Home</ion-item>
        <ion-item class="item-icon-left  side-menu-item" id="menu-list-item3" ui-sref="menu.forum" menu-close="">
          <i class="icon ion-ionic"></i>Forum
          <ion-option-button class="button-positive"></ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>