<ion-view title="Thi thử hóa" id="page12" style="background-color:#F8F8D2;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/Ctl7lZufR22NWtWW8X5r_Y33dvLvJRrizMEq2cyAH_hoahoc.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="thiThHA-list11">
      <ion-item id="thiThHA-list-item64" ui-sref="ThiThS1">Đề thi thử số 1</ion-item>
      <ion-item id="thiThHA-list-item65">Đề thi thử số 2</ion-item>
      <ion-item id="thiThHA-list-item66">Đề thi thử số 3</ion-item>
    </ion-list>
    <ion-list id="thiThHA-list12">
      <ion-item id="thiThHA-list-item67">Đề thi thử số 1</ion-item>
      <ion-item id="thiThHA-list-item68">Đề thi thử số 2</ion-item>
      <ion-item id="thiThHA-list-item69">Đề thi thử số 3</ion-item>
    </ion-list>
    <ion-list id="thiThHA-list13">
      <ion-item id="thiThHA-list-item70">Đề thi thử số 1</ion-item>
      <ion-item id="thiThHA-list-item71">Đề thi thử số 2</ion-item>
      <ion-item id="thiThHA-list-item72">Đề thi thử số 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>